@import "tailwindcss";

@font-face {
    font-family: Matrix;
    src: url(../../public/assets/MatrixtypeDisplayBold-6R4e6.ttf);
}

/* Add perspective for 3D effect */
.perspective {
    perspective: 1200px;
}

/* Continuous Y-axis rotation animation */
@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.animate-rotateY {
    animation: rotateY 20s linear infinite;
    transform-style: preserve-3d;
}

:root{

    /* Gray Scale */
    --gray-50:    #F2F2F2;
    --gray-base:  #E5E5E5;
    --gray-200:   #CCCCCC;
    --gray-black: #000000;
    --gray-950:   #0D0D0D;
    --gray-800:   #262626;
    --gray-750:   #404040;

    /* Accents */
    --purple:       #701730;
    --yellow:       #FFA400;
    --yellow2:      #FBFF00;
    --yellow-light: #FFC886;

    /* Gradients */
    --gradient-angle: 155deg;
    --gradient-from: var(--yellow2); /* Tailwind yellow */
    --gradient-to: var(--yellow);   /* Tailwind purple */

    --YtoP-gradient: linear-gradient(155deg,var(var(--yellow)) 0%, var(var(var(--purple))) 100%);

    --corrent-gradient: linear-gradient(var(--gradient-angle),var(--gradient-from),var(--gradient-to));

    --my-gradient: linear-gradient(to right, #05a8d9, #e62879);

    --text-light: var(--gray-750);
    --text-base: var(--gray-800);
    --text-dark: var(--gray-950);
    --text-accent: var(--purple);
    --text-invert: var(--gray-base);

    --bg-base:var(--gray-base);
    --bg-light: var(--gray-50);
    --bg-dark: var(--gray-200);
    --bg-accent: var(--yellow);
    --bg-accentHover: var(--accent);

    --border-primary: var(--gray-750);
    --color-border-secondary: var(--gray-200);

    --font-matrix: Matrix, "sans-serif";
    --font-ff: "Inter", "sans-serif";

    --h1: bold 3.75rem/4rem var(--font-matrix);
    --h2: bold 2.25rem/2.25rem var(--font-matrix);
    --h3: bold 1.5rem/2rem var(--font-ff);

    --font-h1: var(--h1);
    --font-p: var(--p);

}


h1{
    font: var(--h1);
    margin-top: 0.5rem;

}

h2{
    font: var(--h2);
    margin-top: 0.5rem;

}

h3{
    font: var(--h3);
    margin-top: 0.5rem;
}
h4{
    font: var(--font-ff);
}