@import "tailwindcss";

@font-face {
    font-family: Matrix;
    src: url(../../public/assets/MatrixtypeDisplayBold-6R4e6.ttf);
}

/* Add perspective for 3D effect */
.perspective {
    perspective: 1200px;
}

/* Continuous Y-axis rotation animation */
@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.animate-rotateY {
    animation: rotateY 20s linear infinite;
    transform-style: preserve-3d;
}

@theme{

    --font-matrix: Matrix, "sans-serif";
    --font-ff: "Inter", "sans-serif";

    --h1: bold 3.75rem/4rem var(--font-matrix);
    --h2: bold 2.25rem/2.25rem var(--font-matrix);
    --h3: bold 1.5rem/2rem var(--font-ff);

    --font-h1: var(--h1);
    --font-p: var(--p);

}


h1{
    font: var(--h2);
    margin-top: 0.5rem;
}

h2{
    font: var(--h2);
    margin-top: 0.5rem;
}

h3{
    font: var(--h3);
    margin-top: 0.5rem;
}